<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="/articles">Hachi</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="/articles">Home</a></li>
     <li><a href="#">About</a></li>
   </ul>
 </div>
</nav>
<div class="container">
<div class="form-group">
  <%=form_for @article do |a| %>
  <%=a.label:title%><br/>
  <%=a.text_field:title%><br />

  <%=a.label:content%><br/>
  <%=a.text_area:content, size:"50x6"%><br />
  <%=a.submit %>
  <%end%>
</div>
</div>
